<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Twitter" target="_blank" data-title="twitter.com/iax_ai" href="http://twitter.com/iax_ai/"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" data-title="facebook.com/iaxDOTai"  href="https://www.facebook.com/iaxDOTai/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" data-title="Instagram.com/iaxai" href="https://Instagram.com/iaxai"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My YouTube" target="_blank" data-title="YouTube.com/iaxai" href="https://youtube.com/iaxai"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
      </div>
      <!----
      <div class="header-links">
        
        
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        
      </div>-->
    
  </div>
  <!---- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
